


.text {
  text-transform: uppercase;
}


h2 {
 
  color:rgb(83, 82, 82);
  
  cursor: pointer;
  
}

.logo {
  height: 50px;
  width: 50px;

}
.nav-btn {
  
  border: none;
  background-color: transparent;
  color:rgb(255, 255, 255);
  cursor: pointer;
  font-size: 20px;
  z-index: 1;

}



.open-btn {
  position: absolute;
  margin:5px;
  
  z-index: 1;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.nav.visible {
  transform: translateX(0);
 
}

.nav-black {
  background-color: rgb(34, 31, 31);
  width: 60%;
  max-width: 480px;
  min-width: 320px;
  transition-delay: 0.4s;
  z-index: 999;
}

.nav-black.visible {
  transition-delay: 0s;
 
}

.nav-red {
  background-color: rgb(229, 9, 20);
  width: 95%;
  transition-delay: 0.2s;
  z-index: 999;
}

.nav-red.visible {
  transition-delay: 0.2s;
  
}

.nav-white {
  background-color: #fff;
  width: 95%;
  padding: 40px;
  position: relative;
  transition-delay: 0s;
  z-index: 999;
}

.nav-white.visible {
  transition-delay: 0.4s;
  
}

.close-btn {
  opacity: 0.3;
  position: absolute;
  top: 40px;
  right: 30px;
  z-index: 1;
    color: black;
}

.list {
  list-style-type: none;
  padding: 0;
  
}

.list li {
  margin: 10px 0;

}

.list li a {
  color: rgb(34, 31, 31);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.list ul {
  list-style-type: none;
  padding-left: 20px;
}
